.input, input {
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: steelblue;
}

label {
    text-align: center;
    font-family: cursive;
    margin-bottom: 20px;
}

.output {
    flex: 1;
    width: 50%;    
    color: steelblue;
}